<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Email Template</title>
</head>
<body style="background-color: #fff; color: #333; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">
<div style="background-color: #fffacd; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); margin: 20px auto; max-width: 600px; padding: 20px;">
    <div style="background-color: #fbd444; border-radius: 3px 3px 0 0; color: #fff; padding: 10px; text-align: center;">
        <h1 style="color: #555; font-weight: bold; line-height: 1.2; margin: 20px 0 10px;">¡Bienvenido, [[Name]]! </h1>
    </div>
    <div style="margin-top: 20px;">
        <p style="margin: 10px 0;">¡Hola [[Name]] 👋,</p>
        <p style="margin: 10px 0;">Gracias por registrarte en WorldFit!</p>
        <p style="margin: 10px 0;">En breve tu entrenador te asignará tus nuevas rutinas, mientras tanto, si aún no lo hiciste, puedes completar tu perfil.</p>
        <p style="margin: 10px 0;">El ejercicio no solo cambia tu cuerpo, cambia tu mente, tu actitud y tu estado de ánimo. ¡Comencemos este cambio juntos! 💪</p>
        <p style="margin: 10px 0;"></p>
        <a href="https://worldfit.site/" style="background-color: #fbd444; border: none; border-radius: 3px; color: #fff; cursor: pointer; display: inline-block; font-size: 16px; font-weight: bold; line-height: 1.2; padding: 10px 20px; text-align: center; text-decoration: none; text-transform: uppercase; transition: background-color 0.2s ease;">Ir a la plataforma</a>
    </div>
    <div style="background-color: #f7f7f7; border-radius: 0 0 3px 3px; margin-top: 20px; padding: 10px; text-align: center;">
        <p>&copy; 2023 WorldFit. All Rights Reserved.</p>
        <img src="https://i.postimg.cc/Jhwj35WR/foto.jpg" alt="Logo" style="max-width: 200px;">
    </div>
</div>
</body>
</html>